= page_title 'Listing Notes'
- content_for :page_title_right do
  = link_to new_note_path do
    %button.btn.btn-primary
      %fa.fa.fa-plus
      New Note

.clearfix
.x_panel
  = render partial: 'shared/stripped_dynamic_table', locals: { collection: @notes, fields: ['id', 'title'], actions: ['show', 'edit', 'destroy'] }
