= page_title @note.title

- content_for :page_title_right do
  = link_to 'Edit', edit_note_path(@note), class: 'btn btn-default'

.x_panel
  .x_title
    %h4= @note.title
  .panel-body
    = @note.content.try (:html_safe)