%table.table.table-striped.table-bordered{:border => "0", :cellpadding => "0", :cellspacing => "0"}
  %thead
    %tr
      %th From
      %th Subject
      %th Date
  %tbody
    - @emails.each do |message|
      %tr
        %td= message.from.try(:first)
        %td= link_to message.subject, inbox_path(message.message_id)
        %td= message.date.strftime("%d-%m-%y %H:%M")
