.group-fields{ 'data-object-name' => f.object_name }
  %p
    - key = (f.object_name =~ /[0]/) ? :advanced_search_group_first : :advanced_search_group_rest
    = f.combinator_select

  .filters

    = f.condition_fields do |c|
      = render 'condition_fields', f: c

    %p
      = link_to_add_fields "Add Search Condition", f, :condition
