:css
  .cover-container {
    color: #000000;
  }
  .site-wrapper {
    background-color: rgba(245, 222, 179, 0.80);
    padding: 1%;
    border-radius: 4%;
  }
  body {
    background: url(/assets/mj.png) no-repeat center center fixed;
  }
  
.site-wrapper
  .site-wrapper-inner
    .cover-container
      .inner.cover
        %h1.cover-heading Cover your page.
        %p.lead Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
        %p.lead
          %a.btn.btn-lg.btn-default{:href => "#"} Learn more
      .mastfoot
