/ Main jumbotron for a primary marketing message or call to action
.jumbotron
  .container.text-center
    %h1 Smart Email Marketing
    %div
      %h1
        %i.fa.fa-envelope-open
      %p
        %i.tagline A minimal email marketing tool.
    %div
      %a.btn.btn-primary.btn-lg{:href => new_account_session_path} Login
      %a.btn.btn-success.btn-lg{:href => new_account_registration_path} Sign Up

.section{style: 'background-color: white;margin-top: -2%;'}
  .container
    .row.text-center
      .col-md-5.col-xs-12
        %h1{:style => "color:#2d3e4f"} Import Users!
        %br/
        %h4 You can import your users list from csv file or add them manually with additional attributes.
        %br/
        %h4 Also you can add tag to users while importing to whole of the list or you can add/remove tags manually later.
        %br/
        %h3 After filtering create a new campaign for filtered user.
      .col-md-7.col-xs-12
        = image_tag 'ss-users.png', width: '100%', style: 'padding: 2%'

.section
  .container
    .row.text-center
      .col-md-7.col-xs-12
        = image_tag 'email-template.png', width: '100%', style: 'padding: 2%'
      .col-md-5.col-xs-12
        %h1{:style => "color:#2d3e4f"} Email Templates!
        %br/
        %h4 Create a new email template as html for your campaign email.
        %h4 You can select your template and you can add tags to campaign while creating the campaign.

.section{style: 'background-color: white;'}
  .container
    .row.text-center
      .col-md-5.col-xs-12
        %h1{:style => "color:#2d3e4f"} Sending Campaign Email!
        %br/
        %h4 You should set your email provider settings to sending campaign emails.
        %br/
        %h4 If your provider is sendgrid, you can also add Sendgrid Event Notification to recieve emails statuses.
        %p Go to: https://app.sendgrid.com/settings/mail_settings -> Event Notification
        %p Then set this app domain to with receiver path. Example: smartemailmarketing-domain.com/campaigns/event_receiver
        %p
          Click
          %a{href: 'https://sendgrid.com/docs/API_Reference/Webhooks/event.html'} here
          for more info.
      .col-md-7.col-xs-12
        = image_tag 'campaigns.png', width: '100%', style: 'padding: 2%'