.row
  .col-md-12
    %table.table.table-condensed.table-bordered
      %thead
        %tr
          %th{width: "50%"} Key
          %th{width: "50%"} Value
          %th #
      %tbody
        = render partial: 'user_attributes/form', locals: { user: user }
        - user.user_attributes.each do |attr|
          = render partial: 'user_attributes/attribute_row', locals: { attr: attr, user: user }
