.page-title
  .title_left
    %h3
      User Attributes For:
      = @user.name || @user.email
.row
  .col-md-12
    .x_panel


= render partial: 'user_attributes/attributes_table', locals: { user: @user }

.page-title
  .title_left
    %h3
      User Tags:
.x_panel
  .col-sm-5
    %div{id: "UserTags-#{@user.id}"}
      = render partial: 'tags/item_tags', locals: { item: @user }