.col-sm-8
  Campaign Tags:
  - campaign.tags.each do |tag|
    %span.badge{style: 'background-color: #337ab7'}
      = tag
      = link_to remove_tag_campaign_path(campaign, name: tag.name), method: :post, remote: true, data: { confirm: 'Are you sure?' } do
        %span.glyphicon.glyphicon-remove{style: 'color: #de5858;'}
.col-sm-4
  Add Tag To Campaign:
  = form_tag(add_tag_campaign_path, remote: true) do
    = text_field_tag :name, nil, placeholder: "Type and press `Enter`", class: 'form-control'
