.row.tile_count
  .tile_stats_count

  = status_card('Draft', (@stats['draft'] || 0), Campaign.calculate_percent(@stats['draft'], @total_users_count).to_i)

  = status_card('Processed', (@stats['processed'] || 0), Campaign.calculate_percent(@stats['processed'], @total_users_count).to_i)


  - @stats.reject { |k,_v| %w(draft processed).include?(k) }.each do |k,v|
    = status_card(k.humanize, (v || 0), Campaign.calculate_percent(v, @total_users_count).to_i)