= form_tag send_emails_campaign_path(@campaign), method: :post do
  .col-md-12
    %b= @campaign.email_template.subject
  .col-md-12
    %hr
    = @campaign.email_template.body.try(:html_safe)
    %hr

  .actions
    = submit_tag 'Send Campaign Emails', class: 'btn btn-primary'
