 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "editable/bootstrap-editable";
 @import "select2";
 @import "select2-bootstrap";
 @import "css_reset";
 @import "bootstrap-datepicker3";

 body {
   font-family: 'Open Sans', sans-serif;
   background-color: #f7f7f7;
   position: relative;
   margin: 0px;
   font-size: 12px;
   padding: 0px;
 }

 .page-content > .row {
   margin-left: 0px !important;
   margin-right: 0px !important;
   margin-top: 30px;
 }

 /* Logo & Navigation */

 .header{
    height:50px;
    background-color: #2c3742;
 }

 .header .logo h1{
    font-size:30px;
    margin:0px;
    padding:10px 0px;
 }

 .header .logo h1 a{
    color:#fff;
    font-family: 'Open Sans Condensed', sans-serif;
 }

 .header .logo h1 a:hover{
    color:#fff;
    text-decoration:none;
    border:0px;
 }

 .header .navbar{
    background:none !important;
    border:0px !important;
 }

 .header .navbar i{
    margin-right:3px;
 }

 .header .navbar .nav > li > a{
    color:#fff !important;
    font-size:13px !important;
    border-bottom:0px !important;
    margin-top:0px !important;
    font-weight:bold;
 }


 /* Sidebar navigation */

 .content-box, .content-box-large {
    margin-bottom:30px;
    background:#fff;
    border-radius:10px;
    padding:10px;
    border-left:1px solid #eee;
    border-top:1px solid #eee;
    border-right:2px solid #eee;
    border-bottom:2px solid #eee;
 }

 .content-box-large {
   padding: 20px;
 }


 .login-bg {
   background: rgba(255, 255, 255, 0);
   background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
   background: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
   background: -ms-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
   background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
   background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
   background-color: #eff0f3;
   background-repeat: no-repeat;
   height: 100%;
 }

 body {
   background-color: #eff0f3;
 }

 .panel-body {
   clear:both;
 }

 .btn-sm {
   line-height: 0.5;
 }

 .btn-mid {
   line-height: 0.8;
 }

 .custom-select {
   border-color: black;
   height: 30px;
   margin-bottom: 2%;
 }

.actions {
  margin-top: 1%;
  margin-bottom: 1%;
}

.search-panel{
  background-color: #eeeeee;
  padding: 1px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.tag-label {
  display: inline-block;
  min-width: 10px;
  padding: 2px 7px;
  background-color: #5bc0de;
  border-radius: 5px;
}

.group-fields {
  background-color: #cbd5e8;
  padding: 9px;
  border-bottom: solid 1px blue;
}

.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}
.circle-tile-heading {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #FFFFFF;
    height: 80px;
    margin: 0 auto -40px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 80px;
}
.circle-tile-heading .fa {
    line-height: 80px;
}
.circle-tile-content {
    padding-top: 50px;
}
.circle-tile-number {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 0 15px;
}
.circle-tile-description {
    text-transform: uppercase;
}

.dark-blue {
    background-color: #4b6580;
}
.green {
    background-color: #16A085;
}
.blue {
    background-color: #2980B9;
}
.orange {
    background-color: #F39C12;
}
.red {
    background-color: #E74C3C;
}
.purple {
    background-color: #8E44AD;
}
.dark-gray {
    background-color: #7F8C8D;
}
.gray {
    background-color: #95A5A6;
}
.light-gray {
    background-color: #BDC3C7;
}
.yellow {
    background-color: #F1C40F;
}

.inbox-main{
  margin-right: 500px
}

.inbox-secondary{
   right: 0;
   top: 0;
   position: fixed;
   width: 500px;
   overflow-y: scroll;
   overflow-x: hidden;
   height: 100%;
   background: #c8d2d6;
 }
