 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "editable/bootstrap-editable";
 @import "select2";
 @import "select2-bootstrap";
 @import "bootstrap-datepicker3";

.search-panel{
  background-color: #eeeeee;
  padding: 1px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

 .actions {
   margin-top: 1%;
   margin-bottom: 1%;
 }

.group-fields {
  background-color: #ededed;
  padding: 9px;
  border-bottom: solid 1px blue;
}

.mail_list_column {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 500px;
}

.jumbotron {
  padding-top: 0;
  background-color: #2A3F54;
  color: #ffffff;
}

.btn-info { background-color: #2b9cbd; }